[submodule "third_party/litegraph"]
	path = third_party/litegraph
	url = git@github.com:jagenjo/litegraph.js.git
[submodule "third_party/SDC"]
	path = third_party/SDC
	url = git@github.com:NikhilKamathB/SDC.git
