{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center main-container">
    <div class="card text-center main-container-card">
        <div class="card-header">
            SimPan | σύμπαν
        </div>
        <div class="card-body main-container-card-body">
            <form method="post" action="{% url 'account:login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" required>
                </div>
                <input type="hidden" name="next" value="{{ next_url }}">
                <div class="mt-3 d-flex justify-content-center gap-3">
                    <button type="submit" class="btn btn-primary btn-style">Submit</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted">
            You must login to continue
        </div>
    </div>
</div>

{% endblock body %}