.main-container {
    max-width: 100%;
    height: 100vh; 
}

.main-container-row {
    width: 100%;
}

.workspace-container,
.chat-container {
    height: 100vh;
}

.workspace-container {
    padding: 2rem 1rem;
    border-radius: var(--default-border-radius);
    overflow-y: hidden;
}

.workspace-tab, .chatbot-container-body {
    scrollbar-width: none;
}

.workspace-viewport {
    height: 80vh;
}

.workspace-body, .workspace-body-main, .pdf-viewer-wrapper, .file-thumbnail img {
    height: 100%;
}

.workspace-tab {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: none;
    overflow-y: auto;
    margin-right: 1rem;
}

.workspace-tab-content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.workspace-tab-pane, .pdf-viewer-wrapper {
    width: 100%;
}

.chat-container, .workspace-display-container, .workspace-body, .workspace-body-main {
    display: flex;
    flex-direction: column;
}

.workspace-display-container, .workspace-body {
    justify-content: space-evenly;
}

.pdf-thumbnails {
    margin: .5rem;
    padding: .5rem;
    max-width: 15%;
    overflow-y: auto;
}

.pdf-main-content {
    flex: 1;
    flex-direction: column;
}

.pdf-thumbnail-canvas {
    margin: .25rem;
    padding: .25rem;  
    cursor: pointer;
    border-radius: var(--default-border-squared-radius);
}

.pdf-controls {
    display: flex;
    margin: .75rem;
}

.pdf-canvas {
    box-shadow: 0 0 5px var(--first-color);
    border-radius: var(--default-border-squared-radius);
}

.workspace-delete {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: .5rem;
}

.chat-container {
    justify-content: flex-end;
    border-left: var(--default-border-thickness) solid var(--first-color);
    border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
}

.chatbot-container-body {
    overflow-y: auto;
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
}

.workspace-tab::-webkit-scrollbar, .chatbot-container-body::-webkit-scrollbar {
    display: none;
}

.chatbot-profile-user {
    margin-left: .75rem;
}

.chatbot-profile-bot {
    margin-right: .75rem;
}

.chatbot-body-text-user {
    text-align: right;
}

.chatbot-body-text-bot {
    text-align: left;
}

.chatbot-body-text {
    display: inline-flex;
    text-align: left;
    max-width: 90%;
    background-color: var(--body-color);
    margin-top: 1rem;
    border-radius: 1rem;
}

.chatbot-body-text-p-bot,
.chatbot-body-text-p-user {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: var(--normal-font-size);
    padding: 0.75rem 0.5rem;
    margin: 0.25rem;
}

.chatbot-body-text-p-bot p,
.chatbot-body-text-p-user p {
    margin: 0;
}

.chatbot-body-text-loader {
    margin: .75rem;
}

.chatbot-body-text-loader span {
    width: 7px;
    height: 7px;
    background-color: var(--title-color);
    display: inline-block;
    border-radius: 50%;
}

.chatbot-body-text-loader span:nth-child(1) {
    animation: bounce 1s infinite;
}

.chatbot-body-text-loader span:nth-child(2) {
    animation: bounce 1s infinite 0.2s;
}

.chatbot-body-text-loader span:nth-child(3) {
    animation: bounce 1s infinite 0.4s;
}

.fa-plane-send-span, .fa-paperclip-span {
    font-size: var(--h3-font-size);
    align-self: self-end;
    padding-left: .75rem;
}

.fa-paperclip-span {
    font-size: var(--h2-font-size);
    padding-left: 0;
    padding-right: .75rem;
}

.fa-custom-style {
    color: var(--first-color);
}

.fa-custom-style-increased-font {
    font-size: var(--h2-font-size);
}

.fa-workspace {
    font-size: var(--h1-font-size);
}

.selected-files, .selected-files-view {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.selected-files {
    flex-wrap: wrap;
}

.selected-files-view, .pdf-thumbnails {
    scrollbar-width: thin;
}

.selected-files-view {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

.selected-files-view::-webkit-scrollbar {
    height: 7px;
}

.pdf-thumbnails::-webkit-scrollbar {
    width: 5px;
}

.selected-files-view::-webkit-scrollbar-thumb, .pdf-thumbnails::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
    border-radius: var(--default-border-squared-radius);
}

.pdf-thumbnails::-webkit-scrollbar-thumb {
    opacity: 0.35;
}

.selected-files-view > div {
    flex: 0 0 auto;
}

.file-thumbnail {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid var(--default-border-color);
    border-radius: .75rem;
    margin-bottom: .5rem;
    overflow: hidden;
}

.file-thumbnail-view {
    width: 65px;
    height: 65px;
}

.file-thumbnail img {
    width: 100%;
    object-fit: cover;
}

.file-thumbnail i {
    margin: auto;
    font-size: var(--h1-font-size);
}

.file-extension {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--first-color);
    color: var(--first-color-alt);
    text-align: center;
    padding: 2px 0;
    font-size: 12px;
}

.remove-file {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--small-font-size);
    font-weight: bold;
    color: var(--first-color);
}

.remove-file:hover {
    font-size: var(--h3-font-size);
    transition: font-size 0.1s;
}

#chatbot-textarea {
    resize: none;
    height: 25px;
    max-height: 150px;
    border-radius: var(--default-border-squared-radius);
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0px);
    }
}