{% extends 'base.html' %}

{% load static %}

{% load json_filter %}

{% block title %}ComfyCHAT{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/comfychat.css' %}">
{% endblock css %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center main-container">
    <div class="row main-container-row">
        <div class="col justify-content-evenly align-items-center p-2 workspace-container">
            <div class="d-flex justify-content-start align-items-center">
                <a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-ws"
                    aria-controls="offcanvas-ws"><i class="uil uil-bars fa-custom-style fa-workspace"
                        id="fa-bars"></i></a>
                <div class="d-flex justify-content-center align-items-center workspace-heading" id="workspace-heading">
                    <h5>Workspaces</h5>
                </div>
            </div>
            <div class="tab-content workspace-tab-content" id="workspace-tab-content">
            </div>
        </div>
        <div class="col chat-container p-4">
            <div class="chatbot-container-body" id="chatbot-container-body">
                <div class="chatbot-body" id="chatbot-body"></div>
            </div>
            <div class="chatbot-form mt-3 mb-4 mx-2">
                <div id="selected-files" class="selected-files mx-2"></div>
                <form class="chobot-form-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon fa-paperclip-span" id="fa-paperclip-span">
                                <a class="file-upload-button" id="file-upload-button" type="button">
                                    <i class="fa-solid fa-paperclip fa-custom-style" id="fa-paperclip"></i>
                                </a>
                            </span>
                            <textarea wrap="off" class="form-control chatbot-textarea" id="chatbot-textarea"
                                oninput="auto_grow(this)" placeholder="Your message..."></textarea>
                            <span class="input-group-addon fa-plane-send-span" id="fa-plane-send-span">
                                <a class="send-button chatbot-submit" type="submit" id="chatbot-submit">
                                    <i class="fa-solid fa-paper-plane fa-custom-style" id="fa-plane-send"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <input type="file" id="file-upload-input" multiple style="display: none;">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start offcanvas-ws" tabindex="-1" id="offcanvas-ws" aria-labelledby="offcanvas-ws-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvas-ws-label">My workspace</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container mb-2">
            <strong class="offcanvas-body-title">Workspaces</strong>
        </div>
        <div class="workspace-accordion">
            <div class="accordion accordian-workspace" id="accordian-workspace">
                {% with parsed_context=context|parse_json %}
                {% for k, v in parsed_context.items %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-{{ k }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#offcanvas-workspace-{{ k }}" aria-expanded="false"
                            aria-controls="offcanvas-workspace-{{ k }}">
                            <span class="workspace-accordion-title">
                                Workspace {{ forloop.counter }} - {% if v.workspace_name %}{{ v.workspace_name }}{% else %}{{ k }}{% endif %}
                            </span>
                        </button>
                    </h2>
                    <div id="offcanvas-workspace-{{ k }}" class="accordion-collapse collapse"
                        aria-labelledby="heading-{{ k }}" data-bs-parent="#accordian-workspace">
                        <div class="accordion-body">
                            <strong>Workspace meta data</strong>
                            <hr class="mt-0">
                            <div class="d-flex justify-content-center align-items-center">
                                <table class="table workspace-accordion-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Item</th>
                                            <th scope="col">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ID</td>
                                            <td><code id="td-id-{{ k }}">{{ k }}</code></td>
                                        </tr>
                                        <tr>
                                            <td>Total Conversation</td>
                                            <td><code id="td-conversation-{{ k }}">{{ v.workspace_chat|length }}</code></td>
                                        </tr>
                                        <tr>
                                            <td>Total Files</td>
                                            <td><code id="td-files-{{ k }}">{{ v.workspace_files|length }}</code></td>
                                        </tr>
                                        <tr>
                                            <td>Updated At</td>
                                            <td><code id="td-updated-at-{{ k }}">{{ v.workspace_updated_at }}</code></td>
                                        </tr>
                                        <tr>
                                            <td>Created At</td>
                                            <td><code id="td-created-at-{{ k }}">{{ v.workspace_created_at }}</code></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-around align-items-center">
                                <a class="btn btn-primary workspace-open-btn" onclick="openWorkspace('{{ k }}')">Open</a>
                                <a class="btn btn-danger workspace-open-btn" onclick="deleteWorkspace('{{ k }}')">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center m-3">
            <a type="button" id="workspace-add" class="btn btn-primary">Create New Workspace</a>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="d-flex justify-content-center align-items-center m-3">
            <form action="{% url 'account:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" id="workspace-logout" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>
</div>

{% endblock body %}

{% block js %}
<script type="module" src="{% static 'js/pdf.mjs' %}"></script>
<script type="module" src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/comfychat.js' %}"></script>
<script>
    window.context_data = JSON.parse('{{ context|escapejs }}');
    $(document).ready(function () {
        initializeWorkspace();
    });
</script>
{% endblock js %}