{% extends 'base.html' %}

{% load static %}

{% block title %}ComfyCHAT{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/comfychat.css' %}">
{% endblock css %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center main-container">
    <div class="row">
        <div class="col workspace-container">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <ul class="d-flex nav nav-tabs workspace-tab" id="workspace-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="workspace-1-tab" type="button" data-bs-toggle="tab" data-bs-target="#workspace-1" aria-controls="workspace-1" aria-selected="true">Workspace 1</a>
                    </li>
                </ul>
                <a type="button" id="workspace-add" data-toggle="workspace-tooltip" data-placement="top" title="Add a new workspace"><i class="uil uil-plus-circle fa-custom-style fa-workspace" id="fa-plus-circle"></i></a>
            </div>
            <div class="tab-content workspace-tab-content" id="workspace-tab-content">
                <div class="tab-pane fade show active workspace-tab-pane" id="workspace-1" aria-labelledby="workspace-1-tab">
                    <div class="container-fluid workspace-display">
                        <div id="workspace-display-grid" class="row">
                            <div class="col-1 workspace-thumbnail">
                            </div>
                            <div class="col-10 workspace-viewport">
                                <div class="container workspace-body">
                                    <div class="container workspace-body-header">
                                    </div>
                                    <div class="container workspace-body-main">
                                        <div id="gifContainer"></div>
                                    </div>
                                    <div class="container workspace-body-footer">
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 workspace-thumbnail-end">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col chat-container p-4">
            <div class="chatbot-container-body" id="chatbot-container-body">
                <div class="chatbot-body" id="chatbot-body"></div>
            </div>
            <div class="chatbot-form mt-3 mb-4 mx-2">
                <div id="selected-files" class="selected-files mx-2"></div>
                <form class="chobot-form-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon fa-paperclip-span" id="fa-paperclip-span">
                                <a class="file-upload-button" id="file-upload-button" type="button">
                                    <i class="fa-solid fa-paperclip fa-custom-style" id="fa-paperclip"></i>
                                </a>
                            </span>
                            <textarea wrap="off" class="form-control chatbot-textarea" id="chatbot-textarea" oninput="auto_grow(this)" placeholder="Your message..."></textarea>
                            <span class="input-group-addon fa-plane-send-span" id="fa-plane-send-span">
                                <a class="send-button chatbot-submit" type="submit" id="chatbot-submit">
                                    <i class="fa-solid fa-paper-plane fa-custom-style" id="fa-plane-send"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <input type="file" id="file-upload-input" multiple style="display: none;">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block js %}
<script src="{% static 'js/comfychat.js' %}"></script>
<script type="module" src="{% static 'js/utils.js' %}"></script>
{% endblock js %}