{% extends 'base.html' %}

{% load static %}

{% block title %}ComfyUI{% endblock title %}

{% block script %}
    <script src="{% static 'js/litegraph.js' %}"></script>
{% endblock script %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/litegraph.css' %}">
    <link rel="stylesheet" href="{% static 'css/comfyui.css' %}">
{% endblock css %}

{% block body %}

<div>
    {% csrf_token %}
    <canvas class='ui-canvas' id="ui-canvas"></canvas>
</div>


{% block js %}
    <script type="module" src="{% static 'js/comfyui.js' %}"></script>
{% endblock js %}

{% endblock body %}